<br><br>
<div class="col-lg-6 col-lg-offset-3">

 <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Borrar posit</h3>
  </div>
  <div class="panel-body">
   <form  method="POST" action="/posit/{{Id}}?_method=delete" role="form">
	<legend>Seguro que quieres borrar el posit numero {{Id}}</legend>
	<button type="submit" class="btn btn-primary">Borrar</button>
	<a type="button" class="btn btn-primary btn-warning" href="/posit">Cancelar</a>
</form>
  </div>
</div>
</div>
